*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #080d13;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.cabecalho-imagem {
    width: 17%;
}

.cabecalho-lista-item {
    display: inline-flex;
    margin: 0 16px;
    font-size: 24px;
}

body {
    font-family: 'Poppins', sans-serif;
}

.livro-imagem{
    width: 25%;
}

.escola{
    background-color: #021348;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:28px 0;
}

.escola-div-conteudo{
    width: 35%;
}

.estudante-titulo{
    padding: 24px 0;
}

.stefany-imagem{
    width: 140px;
}

.estudante-div {
    text-align: center;
}

.estudante {
    padding: 28px;
}

.rodape {
    background-color: #080d13;
}

.rodape-imagem{
    width: 7%;
    padding: 12px 0;
}